<div class="text">
<nav class="nav-bar">
  <ul class="nav-bar-ul">
    <li><a href='/event_create'>Create an Event</a></li><br>
  <li><h2>Player List</h2>
{{#each users}}
 <h2><a href="/user_details/{{this._id}}">{{this.username}}</a></h2>
 <p><img src="{{this.avatarURL}}" width="70" height="auto" alt="no Picture found"></p>
 {{/each}}</li>
</ul>
</nav>

<div class="events-container">
{{#each events}}
<div class="events">
<h1><a href="/event/{{this._id}}">{{this.eventname}}</a></h1>
 <h2>Eventdate: {{formatDate this.eventdate}}</h2>
 <h4>Creator: {{this.ownername}}</h4>
 </div>
{{/each}}
</div>
</div>